
.card-container {
  perspective: 50em;
  padding-bottom: 3rem;
}

.card {
  position: relative;
  width: 350px;
  padding: 3em;
  color: var(--high-contrast-text-primary);
  transform: rotateY(30deg) rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.project-name {
  color: var(--high-contrast-text-primary);
  font-size: 1.75rem;
}

.project-desc {
  color: var(--high-contrast-text-secondary);
  font-size: 0.9rem;
}

.card:hover {
  transform: rotateY(0deg) rotateX(0);
}

.layers {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.layer {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 350px;
  border-radius: 1em;
  background-image: repeating-linear-gradient(-50deg, #d8f4f609 5em 6.25em, #f000 10em 1em);
  backdrop-filter: blur(64px);
  transform: translateZ(var(--tz));
}

.layer:nth-child(1) {
  --tz: 0px;
}
.layer:nth-child(2) {
  --tz: -4px;
}
.layer:nth-child(3) {
  --tz: -8px;
}
.layer:nth-child(4) {
  --tz: -12px;
}
.layer:nth-child(5) {
  --tz: -16px;
}
.layer:nth-child(6) {
  --tz: -20px;
}
.layer:nth-child(7) {
  --tz: -24px;
}
.layer:nth-child(8) {
  --tz: -28px;
}
.layer:nth-child(9) {
  --tz: -32px;
}
.layer:nth-child(10) {
  --tz: -36px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 4rem;
}
.card-btn {
  font-size: 0.9rem;
  
  padding: 0.5rem 0.85rem;
  background-color: var(--background-color);

  color: var(--high-contrast-text-secondary);
  border: 1px solid var(--borders-and-separators-selected);
  border-radius: 5px;

  transition: all 0.5s;
}

.card-btn:hover {
  color: var(--high-contrast-text-primary);
  transform: scale(1.1)
}