.card-container {
  position: relative;

  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  width: 100%;
  height: 100%;
}

.project-card-image {

  width: 100%;
  height: 100%;
  box-shadow: 9px 9px 8px rgba(0, 0, 0, .5);


  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;

  transition: .3s ease-in-out;
}

.project-card-image.active-card {
  -webkit-filter: grayscale(100%) blur(5px);
  filter: grayscale(100%) blur(5px);
}

.project-card-image .project-image {
  background-image: url("../../../../public/images/image-1.jpg");
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.project-name {
  font-size: 1.5rem;
  color: var(--high-contrast-text-primary);
}

.project-desc {
  font-size: 1rem;
  color: var(--high-contrast-text-secondary);
}

.card-btn-container {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 28%;
  left: 33%;

  display: flex;
  flex-direction: row;
  gap: 2rem;

  transition: 0.5s ease-in-out;
}


.card-btn {
  border: none;
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.2s ease-in-out;
}


.code-icon {
  fill: #fff;
  transition: 0.2s ease-in-out;
}

.code-icon:hover {
  fill: var(--solid-h-c-text-primary);
}

.arrow-right-icon {
  stroke: #fff;
  transition: 0.3s ease-in-out;
}

.arrow-right-icon:hover {
  stroke: var(--solid-h-c-text-primary);
}

.code-icon:hover {
  stroke: var(--solid-h-c-text-primary)
}

.card-btn:hover {
  transform: scale(1.1);
}


.chip-list {
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  position: absolute;
  top: 55%;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  transition: 0.5s ease-in-out;
}

.show-chip-list,
.show-card-btn {
  visibility: visible;
  opacity: 1;
}

.chip {
  color: var(--high-contrast-text-primary);
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 3px solid var(--solid-borders-and-separators);
  border-radius: 15px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all 0.3s ease-in;
}

.chip:hover {
  transform: scale(1.1);
  background-color: var(--borders-and-separators-selected);
  color: var(--solid-h-c-text-primary);
  border-color: var(--borders-and-separators-selected);
}