.contact-form-container {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;

  background: linear-gradient(to top, #2d4176, transparent);

  padding: 3rem;
}

body.light-theme .contact-form-container {
  background: linear-gradient(to top, #bdd1ff, transparent);
}

.contact-form {
  position: relative;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.floating-label-container {
  position: relative;
}

.contact-form-input,
.contact-form-textarea {
  font-size: 16px;
  display: block;
  border: none;
  border-top: 2px solid var(--borders-and-separators-selected);
  border-left: 2px solid var(--borders-and-separators-selected);
  width: 500px;
  height: 55px;
  padding: 0 20px;
  padding-top: 20px;
  background: var(--background-color);
  color: var(--high-contrast-text-primary);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);

  border-radius: var(--s-border-radius);
  box-sizing: border-box;
}

.contact-form.show-overlay .contact-form-input,
.contact-form.show-overlay .contact-form-textarea {
  filter: blur(10px);
}

.contact-form.show-overlay .contact-form-label {
  filter: blur(10px);
}

.contact-form-textarea {
  height: 250px;
  padding-top: 2rem;
  padding-left: 30px;
  line-height: 1.5rem;
  resize: none;
}

.contact-form-textarea::-webkit-scrollbar {
  width: 5px;
}

.contact-form-textarea::-webkit-scrollbar-thumb {
  background-color: var(--solid-interactive-components);
  border-radius: 5px;
}

.contact-form-textarea::-webkit-scrollbar-track {
  background-color: var(--solid-h-c-text-secondary);
  border-radius: 9999px;
}

.contact-form-input:focus-visible,
.contact-form-textarea:focus-visible {
  outline: none;
}

.contact-form-input.focus,
.contact-form-textarea.focus {
  outline: none;
}

.contact-form-label {
  color: var(--high-contrast-text-primary);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  left: 15px;
  top: 18px;
  padding: 0 5px;
}

.contact-form-input.focus ~ .contact-form-label,
.contact-form-textarea.focus ~ .contact-form-label {
  top: 6px;
  left: 6px;
  font-size: 12px;
  color: var(--high-contrast-text-secondary);
}

.github-icon,
.linkedin-text {
  fill: var(--high-contrast-text-primary)
}

.linkedin-border {
  fill: none;
}

.contact-form-textarea.focus ~ .contact-form-label {
  background: var(--background-color);
  height: 25px;
  top: 2.5px;
  border-radius: 12px;

  width: 95%;
}

.form-button {
  width: fit-content;
  font-size: 1.1rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--solid-color);
  color: var(--high-contrast-text-primary);
  border: 1px solid var(--borders-and-separators);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  cursor: pointer;
}

.form-button[disabled] {
  background-color: var(--borders-and-separators);
  color: var(--high-contrast-text-secondary);
  cursor: not-allowed;
  filter: blur(3px);
}

.form-button:not(.form-button[disabled]):hover {
  color: var(--high-contrast-text-primary);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.contact-form-title {
  font-size: 3rem;
  color: var(--high-contrast-text-primary);
}

.highlight-text {
  color: var(--solid-h-c-text-primary);
  text-rendering: optimizeLegibility;
}

.contact-form-paragraph {
  font-size: 1.2rem;
  color: var(--high-contrast-text-secondary);

  margin-bottom: 2rem;
}

.contact-form-input.error ~ .contact-form-label,
.contact-form-textarea.error ~ .contact-form-label {
  color: var(--error-color-text);
}

.error {
  color: var(--error-color-text);
  background-color: var(--error-background-color);
  border-top: 2px solid var(--error-border-color);
  border-left: 2px solid var(--error-border-color);

  animation: shake 0.1s ease-in-out 0s 2;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}

.form-overlay {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  width: 100%;
  height: 86%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;

  border-top: 2px solid var(--borders-and-separators-selected);
  border-left: 2px solid var(--borders-and-separators-selected);
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
}

.contact-form.show-overlay .form-overlay {
  visibility: visible;
  opacity: 1;
}

.loader {
  position: absolute;
  width: 120px;
  top: 60%;
  left: 35%;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--solid-color);
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #fff, -35px 50px 0 #fff,
      -70px 90px 0 #fff;
  }

  100% {
    box-shadow: 0 10px 0 #fff, -35px 50px 0 #fff, -70px 90px 0 #fff,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

.loading-text {
  position: absolute;
  top: 30%;
  font-size: 2.25rem;

  font-weight: bold;
}

.contact-form.email-success .loading-text,
.contact-form.email-success .loader,
.contact-form.show-email-error .loading-text,
.contact-form.show-email-error .loader {
  display: none;
}

.contact-form.email-success .text-sent-1,
.contact-form.email-success .text-sent-2 {
  display: block;
}

.text-sent-1,
.text-sent-2 {
  display: none;
  position: absolute;
  font-size: 2.5rem;
}

.text-sent-1 {
  top: 36%;
}

.email-error {
  /* display: none; */
  position: absolute;
  top: 30%;
  font-size: 2.25rem;
  color: var(--error-color-text);
}

.email-error {
  display: none;
}

.contact-form.show-email-error .email-error {
  position: absolute;
  top: 15%;
  display: block;
}

.email-error svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash 1.5s ease-in-out;
  animation: dash 1.5s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1.5s 0.5s ease-in-out forwards;
  animation: dash 1.5s 0.5s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 1.5s 0.5s ease-in-out forwards;
  animation: dash-check 1.5s 0.5s ease-in-out forwards;
}

.email-error .email-text-error {
  text-align: center;
  margin: 10px;
}

.email-text-error.small {
  font-size: 1.5rem;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

.contact-form-social {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.contact-form-social-text {
  position: relative;
}

.contact-form-social-text::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0%;
  width: 170px;
  height: 2px;
  background-color: var(--borders-and-separators-selected);
}

.linkedin-icon {
  margin-left: 0.25rem;
}

@media screen and (max-width: 1100px) {
  .contact-form-text {
    text-align: center;
  }
 .contact-form-social {
    justify-content: center;
  }
}

@media screen and (max-width: 870px) {
  .contact-form-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 670px) {
  .contact-form-title {
    font-size: 2rem;
  }

  .contact-form-input,
  .contact-form-textarea {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
