
.pyro {
  display: none;
  position: absolute;
  top: 30%;
  left: 48%;
}

.contact-form.email-success .pyro {
  display: block;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 2s bang ease-out infinite backwards, 2s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 2s bang ease-out infinite backwards, 2s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 2s bang ease-out infinite backwards, 2s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 2s bang ease-out infinite backwards, 2s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 2s bang ease-out backwards, 2s gravity ease-in backwards, 5s position linear backwards;
  animation-iteration-count: 5;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 6px -198.6666666667px #00ff33, -4px -113.6666666667px #8000ff, 213px -206.6666666667px #6600ff, 58px -159.6666666667px #ff0066, -152px -284.6666666667px #00ffd9, 116px -78.6666666667px lime, -36px -167.6666666667px #6fff00, 245px -400.6666666667px #ff0099, 238px -160.6666666667px #00d9ff, 184px -24.6666666667px #ff0037, 224px -292.6666666667px #ff2200, -35px 8.3333333333px #0055ff, 6px 2.3333333333px #ff00a2, -132px 8.3333333333px #a200ff, -5px -248.6666666667px #11ff00, -13px -274.6666666667px #ff0044, -142px -120.6666666667px #00ffcc, 39px -333.6666666667px #1500ff, 1px -139.6666666667px #95ff00, -239px -391.6666666667px #ff00bf, -155px -178.6666666667px #d0ff00, -161px -48.6666666667px #00ffc8, -132px 46.3333333333px #ff4800, -157px -157.6666666667px #00ff44, 158px -87.6666666667px #d9ff00, 108px -27.6666666667px #00ff04, -120px -337.6666666667px #00ff99, 116px -16.6666666667px #ffb700, 97px -248.6666666667px #0004ff, -186px 55.3333333333px #8cff00, -148px -207.6666666667px #00ff2f, -49px -254.6666666667px #b3ff00, 2px -209.6666666667px #00ff7b, -122px -354.6666666667px #00ffa6, 221px -96.6666666667px #ff0400, 245px -96.6666666667px #b3ff00, 21px -137.6666666667px #ff00ae, -33px -102.6666666667px #0400ff, 231px 83.3333333333px #ff6a00, -180px -118.6666666667px #00ccff, 98px -233.6666666667px #91ff00, -27px -36.6666666667px #00ffee, 158px -99.6666666667px #ffe600, -54px 45.3333333333px #cc00ff, -224px -34.6666666667px #91ff00, -71px 5.3333333333px #fff700, 42px -225.6666666667px #ff1500, -27px -204.6666666667px #ff0011, 205px -220.6666666667px #5100ff, 240px -105.6666666667px #ffbb00, 185px -322.6666666667px #ff0033;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 6px -198.6666666667px #00ff33, -4px -113.6666666667px #8000ff, 213px -206.6666666667px #6600ff, 58px -159.6666666667px #ff0066, -152px -284.6666666667px #00ffd9, 116px -78.6666666667px lime, -36px -167.6666666667px #6fff00, 245px -400.6666666667px #ff0099, 238px -160.6666666667px #00d9ff, 184px -24.6666666667px #ff0037, 224px -292.6666666667px #ff2200, -35px 8.3333333333px #0055ff, 6px 2.3333333333px #ff00a2, -132px 8.3333333333px #a200ff, -5px -248.6666666667px #11ff00, -13px -274.6666666667px #ff0044, -142px -120.6666666667px #00ffcc, 39px -333.6666666667px #1500ff, 1px -139.6666666667px #95ff00, -239px -391.6666666667px #ff00bf, -155px -178.6666666667px #d0ff00, -161px -48.6666666667px #00ffc8, -132px 46.3333333333px #ff4800, -157px -157.6666666667px #00ff44, 158px -87.6666666667px #d9ff00, 108px -27.6666666667px #00ff04, -120px -337.6666666667px #00ff99, 116px -16.6666666667px #ffb700, 97px -248.6666666667px #0004ff, -186px 55.3333333333px #8cff00, -148px -207.6666666667px #00ff2f, -49px -254.6666666667px #b3ff00, 2px -209.6666666667px #00ff7b, -122px -354.6666666667px #00ffa6, 221px -96.6666666667px #ff0400, 245px -96.6666666667px #b3ff00, 21px -137.6666666667px #ff00ae, -33px -102.6666666667px #0400ff, 231px 83.3333333333px #ff6a00, -180px -118.6666666667px #00ccff, 98px -233.6666666667px #91ff00, -27px -36.6666666667px #00ffee, 158px -99.6666666667px #ffe600, -54px 45.3333333333px #cc00ff, -224px -34.6666666667px #91ff00, -71px 5.3333333333px #fff700, 42px -225.6666666667px #ff1500, -27px -204.6666666667px #ff0011, 205px -220.6666666667px #5100ff, 240px -105.6666666667px #ffbb00, 185px -322.6666666667px #ff0033;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 6px -198.6666666667px #00ff33, -4px -113.6666666667px #8000ff, 213px -206.6666666667px #6600ff, 58px -159.6666666667px #ff0066, -152px -284.6666666667px #00ffd9, 116px -78.6666666667px lime, -36px -167.6666666667px #6fff00, 245px -400.6666666667px #ff0099, 238px -160.6666666667px #00d9ff, 184px -24.6666666667px #ff0037, 224px -292.6666666667px #ff2200, -35px 8.3333333333px #0055ff, 6px 2.3333333333px #ff00a2, -132px 8.3333333333px #a200ff, -5px -248.6666666667px #11ff00, -13px -274.6666666667px #ff0044, -142px -120.6666666667px #00ffcc, 39px -333.6666666667px #1500ff, 1px -139.6666666667px #95ff00, -239px -391.6666666667px #ff00bf, -155px -178.6666666667px #d0ff00, -161px -48.6666666667px #00ffc8, -132px 46.3333333333px #ff4800, -157px -157.6666666667px #00ff44, 158px -87.6666666667px #d9ff00, 108px -27.6666666667px #00ff04, -120px -337.6666666667px #00ff99, 116px -16.6666666667px #ffb700, 97px -248.6666666667px #0004ff, -186px 55.3333333333px #8cff00, -148px -207.6666666667px #00ff2f, -49px -254.6666666667px #b3ff00, 2px -209.6666666667px #00ff7b, -122px -354.6666666667px #00ffa6, 221px -96.6666666667px #ff0400, 245px -96.6666666667px #b3ff00, 21px -137.6666666667px #ff00ae, -33px -102.6666666667px #0400ff, 231px 83.3333333333px #ff6a00, -180px -118.6666666667px #00ccff, 98px -233.6666666667px #91ff00, -27px -36.6666666667px #00ffee, 158px -99.6666666667px #ffe600, -54px 45.3333333333px #cc00ff, -224px -34.6666666667px #91ff00, -71px 5.3333333333px #fff700, 42px -225.6666666667px #ff1500, -27px -204.6666666667px #ff0011, 205px -220.6666666667px #5100ff, 240px -105.6666666667px #ffbb00, 185px -322.6666666667px #ff0033;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 6px -198.6666666667px #00ff33, -4px -113.6666666667px #8000ff, 213px -206.6666666667px #6600ff, 58px -159.6666666667px #ff0066, -152px -284.6666666667px #00ffd9, 116px -78.6666666667px lime, -36px -167.6666666667px #6fff00, 245px -400.6666666667px #ff0099, 238px -160.6666666667px #00d9ff, 184px -24.6666666667px #ff0037, 224px -292.6666666667px #ff2200, -35px 8.3333333333px #0055ff, 6px 2.3333333333px #ff00a2, -132px 8.3333333333px #a200ff, -5px -248.6666666667px #11ff00, -13px -274.6666666667px #ff0044, -142px -120.6666666667px #00ffcc, 39px -333.6666666667px #1500ff, 1px -139.6666666667px #95ff00, -239px -391.6666666667px #ff00bf, -155px -178.6666666667px #d0ff00, -161px -48.6666666667px #00ffc8, -132px 46.3333333333px #ff4800, -157px -157.6666666667px #00ff44, 158px -87.6666666667px #d9ff00, 108px -27.6666666667px #00ff04, -120px -337.6666666667px #00ff99, 116px -16.6666666667px #ffb700, 97px -248.6666666667px #0004ff, -186px 55.3333333333px #8cff00, -148px -207.6666666667px #00ff2f, -49px -254.6666666667px #b3ff00, 2px -209.6666666667px #00ff7b, -122px -354.6666666667px #00ffa6, 221px -96.6666666667px #ff0400, 245px -96.6666666667px #b3ff00, 21px -137.6666666667px #ff00ae, -33px -102.6666666667px #0400ff, 231px 83.3333333333px #ff6a00, -180px -118.6666666667px #00ccff, 98px -233.6666666667px #91ff00, -27px -36.6666666667px #00ffee, 158px -99.6666666667px #ffe600, -54px 45.3333333333px #cc00ff, -224px -34.6666666667px #91ff00, -71px 5.3333333333px #fff700, 42px -225.6666666667px #ff1500, -27px -204.6666666667px #ff0011, 205px -220.6666666667px #5100ff, 240px -105.6666666667px #ffbb00, 185px -322.6666666667px #ff0033;
  }
}
@keyframes bang {
  to {
    box-shadow: 6px -198.6666666667px #00ff33, -4px -113.6666666667px #8000ff, 213px -206.6666666667px #6600ff, 58px -159.6666666667px #ff0066, -152px -284.6666666667px #00ffd9, 116px -78.6666666667px lime, -36px -167.6666666667px #6fff00, 245px -400.6666666667px #ff0099, 238px -160.6666666667px #00d9ff, 184px -24.6666666667px #ff0037, 224px -292.6666666667px #ff2200, -35px 8.3333333333px #0055ff, 6px 2.3333333333px #ff00a2, -132px 8.3333333333px #a200ff, -5px -248.6666666667px #11ff00, -13px -274.6666666667px #ff0044, -142px -120.6666666667px #00ffcc, 39px -333.6666666667px #1500ff, 1px -139.6666666667px #95ff00, -239px -391.6666666667px #ff00bf, -155px -178.6666666667px #d0ff00, -161px -48.6666666667px #00ffc8, -132px 46.3333333333px #ff4800, -157px -157.6666666667px #00ff44, 158px -87.6666666667px #d9ff00, 108px -27.6666666667px #00ff04, -120px -337.6666666667px #00ff99, 116px -16.6666666667px #ffb700, 97px -248.6666666667px #0004ff, -186px 55.3333333333px #8cff00, -148px -207.6666666667px #00ff2f, -49px -254.6666666667px #b3ff00, 2px -209.6666666667px #00ff7b, -122px -354.6666666667px #00ffa6, 221px -96.6666666667px #ff0400, 245px -96.6666666667px #b3ff00, 21px -137.6666666667px #ff00ae, -33px -102.6666666667px #0400ff, 231px 83.3333333333px #ff6a00, -180px -118.6666666667px #00ccff, 98px -233.6666666667px #91ff00, -27px -36.6666666667px #00ffee, 158px -99.6666666667px #ffe600, -54px 45.3333333333px #cc00ff, -224px -34.6666666667px #91ff00, -71px 5.3333333333px #fff700, 42px -225.6666666667px #ff1500, -27px -204.6666666667px #ff0011, 205px -220.6666666667px #5100ff, 240px -105.6666666667px #ffbb00, 185px -322.6666666667px #ff0033;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}