.theme-container {
  position: fixed;
  top: 50.5px;
  left: 92%;

  z-index: 100;
}

.theme-slider {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 45px;

  /* background-color: var(--high-contrast-text-primary); */
  border-radius: 34px;
  border: 1px solid var(--borders-and-separators-selected);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);

  transition: background-color 0.3s;
}

.slider-ball {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 7px;
  border-radius: 50%;

  transition: all 0.3s;
}

body.light-theme .slider-ball {
  left: 40px;
}

.moon-icon,
.sun-icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 1100px) {
  .theme-container {
    top: 42.5px;
    left: 87%;
  }
}

@media screen and (max-width: 870px) {
  .theme-container {
    top: 40.5px;
    left: 85%;
  }
}

@media screen and (max-width: 540px) {
  .theme-container {
    top: 39.5px;
    left: 75%;
  }
}
