.theme-container {
  position: fixed;
  top: 5.5%;
  left: 92%;

  z-index: 100;
}

.theme-slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;

  background-color: var(--high-contrast-text-primary);
  border-radius: 34px;
  border: 1px solid var(--borders-and-separators);
  box-shadow:  3px 6px 10px rgba(0, 0, 0, 0.4);
  
  transition: background-color 0.3s;
}

.slider-ball {
  cursor: pointer;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;

  background-color: var(--solid-color);
  border-radius: 50%;

  transition: all 0.3s;
}

body.light-theme .slider-ball {
  left: 28px;
  background-color: var(--);
}





