.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.projects-text {
  text-align: center;
  font-size: var(--xl-typography);

}

.projects-desc {
  position: relative;
  font-size: var(--p-typography);

  color: var(--high-contrast-text-secondary)
}

.projects-desc::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 22.8%;
  width: 70px;
  height: 2px;
  background-color: var(--solid-borders-and-separators);
}

.projects-gradient {
  position: absolute;
  top: -20%;
  width: 100vw;
  height: 200px;

  background: linear-gradient(to top,
      transparent,
      #2d4176 6%,
      #272935 80%,
      transparent)
}


@media screen and (max-width: 670px) {
  
}

@media screen and (max-width: 670px) {
  .projects-text {
    font-size: var(--m-typography);
  
  }
  .projects-desc {
    font-size: var(--p-s-typography);
  }

  .projects-desc::after {
    width: 56px;
  }

  .projects-container {
    gap: 5rem;
  }
}