.navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  max-width: fit-content;

  transform: translateX(-50%);


  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5000;

  background-color: var(--navbar-bg-color);
  gap: 30px;

  /* nav border */
  border-color: var(--navbar-border-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: transform 0.3s ease-in-out;
}

.navbar.show {
  transform: translateX(-50%) translateY(0);
}

.navbar.hide {
  transform: translateX(-50%) translateY(-200px);
}

.navbar .navbar-link {
  position: relative;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--navbar-link-color);
  color-scheme: light;  
  text-align: center;
  
  border: 1px solid transparent;
  transition: all 0.4s;
}

.navbar .navbar-link.selected {
  color: var(--navbar-link-hover-color);
  padding: 0.5rem;
  border: 1px solid var(--navbar-border-color);
  border-radius: 9999px;
}

.navbar .navbar-link.selected::after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(1);
  top: 33px;
  height: 1px;
  bottom: 0;
  left: 26%;
  background: var(--navbar-link-hover-color);
}

.navbar .navbar-link:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  top: 33px;
  height: 1px;
  bottom: 0;
  left: 25%;
  background: var(--navbar-link-hover-color);
  transform-origin: right left;
  transition: transform 0.25s ease-out;
}

.navbar .navbar-link:hover {
  color: var(--navbar-link-hover-color);
}

.navbar .navbar-link:not(.navbar-link.selected):hover:after {
  transform: scaleX(1);
  transform-origin: left right;

}

