.navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  max-width: fit-content;

  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5000;

  background-color: var(--background-color);

  gap: 30px;

  /* nav border */
  border-color: var(--borders-and-separators);
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: transform 0.3s ease-in-out;
}

.navbar.show {
  transform: translateX(-50%) translateY(0);
}

.navbar.hide {
  transform: translateX(-50%) translateY(-200px);
}

.navbar .navbar-link {
  position: relative;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--high-contrast-text-secondary);

  color-scheme: light;  
  text-align: center;
  
  border: 1px solid transparent;
  transition: all 0.4s;
}

.navbar .navbar-link.selected {
  padding: 0.5rem;
  border: 1px solid var(--borders-and-separators-selected);
  border-radius: 9999px;
  color: var(--high-contrast-text-primary);
}

.navbar .navbar-link.selected::after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(1);
  top: 33.4px;
  height: 1px;
  bottom: 0;
  left: 25.5%;
}

.navbar .navbar-link:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  top: 33.4px;
  height: 1px;
  bottom: 0;
  left: 25.5%;
  background: var(--solid-borders-and-separators);
  transform-origin: right left;
  transition: transform 0.25s ease-out;
}

.navbar .navbar-link:not(.navbar-link.selected):hover:after {
  transform: scaleX(1);
  transform-origin: left right;
}

.logo {
  width: 110px;
  height: 37px;
  margin-right: 3rem;
}

