.navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  max-width: fit-content;

  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5000;

  background-color: var(--background-color);

  gap: 30px;

  /* nav border */
  border-color: var(--borders-and-separators);
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: transform 0.5s ease-in-out;
}

.navbar.show {
  transform: translateX(-50%) translateY(0);
}

.navbar.hide {
  transform: translateX(-50%) translateY(-200px);
}

.navbar .navbar-link {
  position: relative;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--high-contrast-text-primary);

  color-scheme: light;
  text-align: center;

  border: 1px solid transparent;
  transition: all 0.4s;
  cursor: pointer;
}

.navbar .navbar-link.selected {
  padding: 0.5rem;
  border: 1px solid var(--borders-and-separators-selected);
  border-radius: 9999px;
}

.navbar .navbar-link.selected::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(1);
  top: 33.4px;
  height: 1px;
  bottom: 0;
  left: 25.5%;
}

.navbar .navbar-link:after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  top: 33.4px;
  height: 1px;
  bottom: 0;
  left: 25.5%;
  background: var(--solid-borders-and-separators);
  transform-origin: right left;
  transition: transform 0.25s ease-out;
}

.navbar .navbar-link:not(.navbar-link.selected):hover:after {
  transform: scaleX(1);
  transform-origin: left right;
}

.logo {
  width: 110px;
  height: 37px;
  margin-right: 3rem;
}

.logo .logo-path{
  fill: var(--high-contrast-text-primary);
}

.expand-icon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 80px;
    height: 30px;
  }

  .navbar {
    gap: 20px;
    padding: 0.75rem;
  }

  .navbar .navbar-link.selected::after {
    top: 31.4px;
  }

  .navbar .navbar-link {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 870px) {
  .logo {
    display: none;
  }

  .navbar.hide {
    transform: unset;
  }

  .navbar {
    top: 40px;
    left: 2%;
    max-width: unset;

    width: 50px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;

    border-radius: 50px;

    transition: all 0.6s ease-in-out;
  }

  .navbar.show {
    transform: unset;
  }

  .navbar.expanded {
    width: 330px;
    background-color: var(--background-color);
  }

  .expand-icon {
    position: absolute;
    display: block;
    top: 10px;
    left: 9px;

    cursor: pointer;

    transition: all 0.4s ease-in;
  }

  .navbar-link {
    visibility: hidden;
    opacity: 0;

    transition: all 0.4s ease-in;
  }

  .navbar.show-expand-text .navbar-link {
    visibility: visible;
    opacity: 1;
    /* font-size: 0.75rem; */
  }

  .navbar.show-expand-text .navbar-link[aria-label="About Me"] {
    margin-left: 3rem;
  }
}
