.tech-icons-container {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tech-icons-title {
  font-size: 2.5rem;
  color: var(--high-contrast-text-primary);
}

.tech-icons {
  display: flex;
  
  justify-content: center;
  align-self: center;
  
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-icon {
  width: 250px;
  height: 60px;

  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  background-color: rgba(60, 61, 65, 0.2);
  border: 1px solid var(--borders-and-separators);

  transition: all 0.5s ease-in-out;
}

.tech-icon:hover {
  background-color: rgba(60, 61, 65, 0.678);
  border-color: var(--borders-and-separators-selected)
}

.icon-on-hover {
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 870px) {
  .tech-icons-title {
    font-size: 2rem;
  
  }
  .icon-name {
    display: none;
  }

  .tech-icon {
    width: 100px;
    justify-content: center;
    padding-left: 0;
  }
}