* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tetradic-color: #0C678E;
  --logo-primary-color: #268E0C;
  --secondary-color: #0c268e;
  --tertiary-color: #8E0C26;
  
  --high-contrast-text-primary: #EEEEF0;
  --high-contrast-text-secondary: #B5B6C0;
  --borders-and-separators: #393A40;
  --borders-and-separators-selected: #5F606A;
  --interactive-components: #3C3D41;
  --background-color: #303032;

  --solid-borders-and-separators: #405EB2;
  --solid-color: #3D63DD;  
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--high-contrast-text-primary)
}

html {
  scroll-behavior: smooth;
}