.showcase {
  width: 100%;
  margin-top: 13rem;
  display: flex;

  flex: 1;
  flex-wrap: wrap;
}

.typing-demo {
  width: 24.5ch;
  animation: typing 2.5s ease-in;

  animation-timing-function: cubic-bezier(0.5, 0.825, 0.5, 1);
  white-space: nowrap;
  overflow: hidden;
}

.showcase-big-heading {
  position: relative;
  font-size: 3rem;
  height: 150px;
  margin-bottom: 1rem;
}

.showcase-mid-headings {
  font-size: 1.5rem;
}

.showcase-paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;

  animation: fadeIn ease 4.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-highlight {
  color: var(--tetradic-color);
  text-rendering: optimizeLegibility;
}

.name-text {
  font-size: 4rem;
}

.surname {
  display: block;
  top: 70px;
  left: 444px;
  position: absolute;
}

/* Cards */

.card-1 {
  z-index: 3;
  transform: none;
  top: 0px;
}

.card-2 {
  z-index: 2;
  transform: scale(0.94) translateZ(0px);
  top: -35px;
}

.card-3 {
  z-index: 1;
  transform: scale(0.88) translateZ(0px);
  top: -65px;
}

.showcase-about-me {
  flex: 1;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-wrapper {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 500px;
  height: 300px;
  transform-origin: center top;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 40px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid var(--navbar-border-color);
  border-radius: 40px;
  background-color: #fff;
}

.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-buttons .card-button {
  font-size: 0.8rem;
  padding: 0.75rem 1.25rem;

  background-color: #fff;
  color: var(--navbar-link-color);

  border: 1px solid var(--navbar-border-color);
  border-radius: 10px;

  cursor: pointer;

  transition: all 0.2s ease-in;
}

.card-buttons .card-button:hover {
  color: #000;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.card-heading {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.card-heading h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-right: 0.25rem;
}

.card-item:nth-child(1) .card-heading {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  padding: 0 2rem;
}

.show-tech {
  padding-left: 0.5rem;
  border-left: 1px solid #000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.show-tech-text {
  font-size: 0.9rem;
  text-align: center;
}

.card-item .card-paragraph {
  font-size: 1rem;
  padding: 0 2.5rem;
  color: var(--navbar-link-color);
}


.card-item:nth-child(2) .card-heading {
  margin-top: 4px;
  font-size: 0.7rem;
  padding: 0 2rem;
  color: var(--navbar-link-color)
}

.card-item:nth-child(3) .card-heading {
  font-size: 0.7rem;
  padding: 0 2rem;
  color: var(--navbar-link-color)
}

.card-item:not(.selected-card) {
  transition: all 0.5s;
}

.card-item:nth-child(2):not(.selected-card):hover {
  transform: translate(0px, -7px) scale(0.94);
}

.card-item:nth-child(3):not(.selected-card):hover {
  transform: translate(0px, -7px) scale(0.88);
}

.position {
  font-size: 1.2rem;
  font-weight: bolder;
}

.card-item.selected-card .card-heading {
  cursor: unset;
}

.card-item:not(.selected-card) .card-heading {
  height: 35px;
}

.card-item:not(.selected-card) .card-heading:hover .arrow-right::before {
  width: 25px;
}


/* CARD CHANGE ANIMATION */

.rmv-c-animation {
  animation: remove-card-animation 0.9s ease-in-out;
  animation-fill-mode: forwards;
}

.add-c-2-animation {
  animation: add-card-2-animation 0.9s ease-in-out;
  animation-fill-mode: forwards
}

.add-c-3-animation {
  animation: add-card-3-animation 0.9s ease-in-out;
  animation-fill-mode: forwards
}

@keyframes add-card-2-animation {
  0% {
    transform: scale(0.88) translateZ(0px) translate(0px, -35px);
    top: -50px;
  }

  50% {
    transform: scale(1) translateZ(0px) translate(0px, -40px);
    top: -35px;
  }

  100% {
    transform: translate(0px, 0px) scale(1) translateZ(0px);
    top: 0px;
  }
}

@keyframes add-card-3-animation {
  0% {
    transform: scale(0.94) translateZ(0px) translate(0px, -35px);
    top: -80px;
  }

  50% {
    transform: scale(.94) translateZ(0px) translate(0px, -40px);
    top: -40px;
  }

  100% {
    transform: translate(0px, 0px) scale(1) translateZ(0px);
    top: 0px;
  }
}

@keyframes remove-card-animation {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 50px);
  }

  100% {
    transform: scale(0.88) translateZ(0px) translate(0px, -35px);
  }
}



/* ARROW  */

.arrow-right,
.arrow-left {
  transition: all 0.3s;
}

.arrow-right:after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-left: 7px solid var(--primary-color);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  vertical-align: middle;

  transition: all 0.3s;
}

.arrow-right:before {
  content: "";
  width: 15px;
  height: 3px;
  transform: rotate(180deg);
  background: var(--primary-color);
  display: inline-block;
  vertical-align: middle;

  transition: all 0.3s;
}

.arrow-left:before {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-right: 7px solid var(--primary-color);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  vertical-align: middle;
  transition: all 0.3s;
}

.arrow-left:after {
  content: "";
  width: 15px;
  height: 3px;
  background: var(--primary-color);
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
}

/* ANIMATIONS */
@keyframes typing {
  from {
    width: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}