.showcase {
  width: 100%;
  padding: 0rem 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.typing-demo {
  width: 24.5ch;
  animation: typing 2.5s ease-in;

  animation-timing-function: cubic-bezier(0.5, 0.825, 0.5, 1);
  white-space: nowrap;
  overflow: hidden;
}

.showcase-big-heading {
  position: relative;
  font-size: 3.25rem;
  height: 150px;
  margin-bottom: 1rem;
}

.showcase-mid-headings {
  font-size: 1.5rem;
}

.showcase-paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;

  animation: fadeIn ease 4.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.highlight-name {
  color: var(--solid-h-c-text-primary);
}

.text-highlight {
  color: var(--solid-h-c-text-primary);
  text-rendering: optimizeLegibility;
}

.name-text {
  font-size: 4rem;
}

.surname {
  display: block;
  top: 70px;
  left: 444px;
  position: absolute;
}

/* TABSTRIP */

.tabstrip-container {
  flex: 1;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--borders-and-separators);

  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;

  max-width: 1000px;
  padding-bottom: 2rem;
}

.tabs-container {
  display: flex;
  gap: 10px;
  padding: 1rem;
  border-bottom: 1px solid var(--borders-and-separators-selected);
}

.tab {
  color: var(--high-contrast-text-primary);
  padding: 0.75rem 3rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.35s ease-out;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
}

.tab.selected {
  background-color: var(--borders-and-separators);
  border: 1px solid var(--borders-and-separators-selected);

}

.tab:not(.selected):hover {
  background-color: #5f606a42;
  color: var(--high-contrast-text-primary);
  border-radius: 0;

  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
}

.tabstrip-content {
  color: var(--high-contrast-text-primary);
  padding: 1rem;
  font-size: 1.2rem;

  transition: all 0.5s ease-out;
}

.content-fade-out {
  animation: fadeOut ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.content-fade-in {
  animation: fadeIn ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    backdrop-filter: blur(0px);
  }

  100% {
    opacity: 0;
    backdrop-filter: blur(4px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    backdrop-filter: blur(4px);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(0px);

  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@media screen and (max-width: 870px) {
  .showcase-big-heading {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .name-text {
    font-size: 3.25rem;
  }

  .tabs-container {
    justify-content: space-evenly;
  }

  .surname {
    left: 355px;
    top: 50px;
  }
}

@media screen and (max-width: 670px) {
  .showcase-big-heading {
    font-size: 2.5rem;
  }

  .typing-demo {
    width: 18.5ch;
  }

  .showcase-mid-headings {
    font-size: 1.5rem;
  }

  .name-text {
    font-size: 3.25rem;
  }

  .showcase-paragraph {
    font-size: 1.05rem;
  }

  .surname {
    left: 227px;
    top: 50px;
  }

  .tab {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  .showcase-big-heading {
    font-size: 2rem;
  }

  .name-text {
    font-size: 2.5rem;
  }

  .typing-demo {
    width: 16.2ch;
  }

  .surname {
    left: 147px;
    top: 50px;
  }

  .tabstrip-container {
    /* margin-left: -1rem; */
  }
  .tabs-container {
    padding: 0.75rem;
  }

  .tab {
    padding: 0.6rem;
  }
}
